.navbar.navbar-inverse.navbar-static-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Project name
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        
        if user
          li
            a(href='/') Logged in as #{user.username}
          li
            a(href='/logout') Logout
        else
          li
            a(href='/login') Login
          li
            a(href='/join') Join
