module.exports = {
  
  sessionSecret: process.env.SESSION_SECRET || 'session secret',

  db: process.env.DB || 'localhost',

  mailAddress: process.env.MAIL_ADDRESS || 'gmail.user@gmail.com',
  mailPassword: process.env.MAIL_PASSWORD || 'password'

}
